/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template

    Created on : 15 oct 2023, 19:05:47
    Author     : alumne
*/

html {
    font-family: Verdana, Arial;
    background-color: #c5c5c5;
    background-image: url("./imgs/wallCam.jpg");
    background-size: cover;  
    background-position: center center;
    background-repeat: no-repeat;
}

body {
    height: 1200px;
}

/* Estilos para los elementos div */
div {
    height: 500px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px;
}

body {
    width: 1200px;
    padding: 35px 10px 10px;
}

.enllaçMenu {
    color: black;
    text-decoration: none;
    font-size: 16px;
    transition: font-size 0.2s;
}

.enllaçMenu:hover {
    color: white;
    font-size: 22px;
    font-weight: bold; 
    text-shadow: 
        -1px -1px 0 #000, 
        1px -1px 0 #000,  
        -1px 1px 0 #000,  
        1px 1px 0 #000;   
}

.boto {
    margin-top: 60px;
    /*bottom: -20px;
    position: fixed;
    right: 50%;*/
    background-color: #c9c9c9;
    border: 1px solid #000;
}